* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

body {
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}
.users {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;

}

.homepage_button {
  margin: 50px;
  padding: 20px;
  font-size: 40px;
  border-radius: 5px;
}

fieldset {
  width: 60%;
  margin: 0 auto;
}
label, select, option{
  font-size: 20px;
  margin-bottom:10px;
}

.username, .password {
  font-size: 30px;
}

input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0099ff;
  color: white;
  padding: 15px;
  margin-top: 8px;
  margin-left: px;
  border: none;
  cursor: pointer;
  width: auto;
}
section{
  margin: auto;
  width: 30%;
  border: 2px solid black;
}
.howMany{
  width: 20%;;
  display: inline-block;
  border: 1px solid #ccc;
}
.items{
  text-align: left;
}
table, th, tr, td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}
